*{
   margin: 0;
   padding: 0;
   width: 100%;
}

img {
   width: 100%;
}

.header {
   background-color: black;
   text-align: center;
   padding-left: 20px 0px;
   
}



.hero img {
   width: 100%;

}

.container h1 {
   text-align: center;
   padding: 20px;
   text-transform: uppercase;
}

.container img {
   width: 100%;
}

.safe h1 {
   text-align: center;
   padding: 20px;
   text-transform: uppercase;
}

.safe img {
   width: 100%;
   

}

.header .social-icons img{
   width: 20px;
}
