*{
   margin: 0;
   padding: 0;
}

.header {
   background-color: black;
   text-align: center;
   padding-left: 20px 0px;
   
}

.header img {
   width: 100px;
   
}

.hero img {
   width: 100%;
   

}